/* Champion Star level Styles */
.tier1 {
  color: #804a00;
}
.tier2 {
  color: #6c7a86;
}
.tier3 {
  color: #d4af37;
}
.tier4 {
  color: #18e0e0;
}

/* Trait level Styles */
/*old value #5F7F7F*/
.traitTier0 {
  background-color: #bfdfdf;
}
/*old value #c06a00*/
.traitTier1 {
  background-color: #802a00;
}
/*old value #9caab6*/
.traitTier2 {
  background-color: #dceaf6;
}
/*old value #d4af37*/
.traitTier3 {
  background-color: #ffef77;
}
/*old value #cba9c5, #ca99c1 0%, #9fc7af 74%*/
.traitTier4 {
  background-color: #fbe9f5;
  background-image: linear-gradient(315deg, #fad9f1 0%, #dff7ef 74%);  
}

/* Champion rarity styles*/
/*1cost*/
.rarity0 {
  border: 2px solid;
  border-color: gray;
}
/*2cost*/
.rarity1 {
  border: 2px solid;
  border-color: green;
}
/*3cost*/
.rarity2 {
  border: 2px solid;
  border-color: blue;
}
/*4cost*/
.rarity3 {
  border: 2px solid;
  border-color: purple;
}
/*?cost*/
.rarity4 {
  border: 2px solid;
  border-color: purple;
}
/*5cost*/
.rarity5 {
  border: 2px solid;
  border-color: gold;
}
/*specialcost*/
.rarity6 {
  border: 2px solid;
  border-color: gold;
}
/*trainer*/
.rarity8 {
  border: 2px solid;
  border-color: black;
}

/* Game placement Styles*/
.placement1 {
  background-color: #ffe0ac;
}
.placement2 {
  background-color: #dadada;
}
.placement3 {
  background-color: #b39384;
}
.placement4 {
  background-color: #add8e6;
}