/* Champion Star level Styles */
.tier1 {
  color: #804a00;
}
.tier2 {
  color: #6c7a86;
}
.tier3 {
  color: #d4af37;
}

/* Trait level Styles */
/*old value #5F7F7F*/
.traitTier0 {
  background-color: #3F5F5F;
}
/*old value #c06a00*/
.traitTier1 {
  background-color: #a04a00;
}
/*old value #9caab6*/
.traitTier2 {
  background-color: #bccad6;
}
/*old value #d4af37*/
.traitTier3 {
  background-color: #f4cf57;
}
/*old value #cba9c5, #ca99c1 0%, #9fc7af 74%*/
.traitTier4 {
  background-color: #ebc9e5;
  background-image: linear-gradient(315deg, #eab9e1 0%, #bfe7cf 74%);  
}

/* Champion rarity styles*/
.rarity0 {
  border: 2px solid;
  border-color: gray;
}
.rarity1 {
  border: 2px solid;
  border-color: green;
}
.rarity2 {
  border: 2px solid;
  border-color: blue;
}
.rarity3 {
  border: 2px solid;
  border-color: purple;
}
.rarity4 {
  border: 2px solid;
  border-color: gold;
}
.rarity5 {
  border: 2px solid;
  border-color: pink;
}

/* Game placement Styles*/
.placement1 {
  background-color: #ffe0ac;
}
.placement2 {
  background-color: #dadada;
}
.placement3 {
  background-color: #b39384;
}
.placement4 {
  background-color: #add8e6;
}